* {
    font-family: 'Source Code Pro', monospace;
}

body {

    margin: 0;
    color: white;
    cursor: text;

}

.Navbar-black {
    display: flex;
    flex-direction: row;
    background-color: rgb(95, 95, 95);
    justify-content: space-between;
    height: 40px;

}

.nav{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.nav-black-link {
    padding: 5px 20px;
    cursor: pointer;
}

.nav-black-active {
    padding: 10px 20px;
    background-color: #383838;
    cursor: pointer;
}

.Navbar-white {
    display: flex;
    flex-direction: row;
    background-color: #cccccc;
    justify-content: space-between;
    height: 40px;
    color: #383838;

}

.nav-white-link {
    padding: 5px 20px;
    cursor: pointer;

}

.nav-white-active {
    padding: 10px 20px;
    background-color: white;
    cursor: pointer;
}




.whiteHeader {
    background-color: #ffffff;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #383838;
    font-size: 3.5vh;


}

.Header {
    background-color: #383838;
    margin: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 3.5vh;
}


.text {
    margin: 8px 0px;
    
}

.Hello {
}





input[type=checkbox]{
  height: 0;
  width: 0;
  visibility: hidden;
}

label {
  margin-top: 16px;
  cursor: pointer;
  text-indent: -9999px;
  width: 44px;
  height: 24px;
  float: right;
  border-radius: 100px;
  position: relative;
  margin-right: .5em;
  top: -10px;
  background-color: rgb(48, 45, 211);
}

label:after {
  content: '';
  position: absolute;
  top: 0px;
  left: 0px;
  width: 24px;
  height: 24px;
  background: white;
  border-radius: 100px;
  transition : 0.3s;
}

input:checked + label {
  background-color: orange;
}

input:checked + label:after {
  left: calc(100% );
  transform: translateX(-100%);
  background: white;
}





.fa {
    color: white;
    scale: 140%;
}